html, body {
  width:100%;
  height: 100%;
  box-sizing:border-box;
}

* {
  box-sizing:inherit;
}

body {
  margin:0; padding:0;
}

canvas#canvas {
  border:1px solid #000;
  width:100vw;
  height:calc((100vw * 9) / 16);
}